--install.nodeLinker yarn
--install.noProgress
--install.networkConcurrency 1
--install.pnp
--install.skipIntegrityCheck
--install.enableNetwork
--emoji true
--offline false
--preferOffline false
--strictSemver true
--verbose true
--link-duplicates true
--global-folder /usr/local/share/.config/yarn/global
--modules-folder /usr/local/share/.config/yarn/link
--cache-folder /usr/local/share/.config/yarn/cache
--store-folder /usr/local/share/.config/yarn
--virtuals-folder /usr/local/share/.config/yarn/virtuals
--filename [contenthash].js
--public-path ./